* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: black;
    --background-btn-color: #1a1a1a;
    --primary-text-color: #f4f4f4;
    --background-task-color: #2a2a2a;
    --delete-color: #f90134;

    /* padding variables */
    --nav-padding: 1rem 2rem;
    --section-padding: 1rem 2rem;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 25px;

    /* border-radius variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

nav button {
    background-color: var(--background-btn-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
}

section {
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: var(--border-radius-xxl);
}

section .task-column {
    background-color: var(--background-btn-color);
    flex-grow: 1;
    width: 100%;
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    border-radius: var(--border-radius-m);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
    border: 2px dashed var(--primary-text-color);
    scale: 1.02;
}

section .task-column .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .task-column .task {
    background-color: var(--background-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grab;
}

section .task-column .task button {
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border: none;
    outline: none;
    border-radius: var(--border-radius-s);
    background-color: var(--delete-color);
    color: var(--primary-text-color);
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}

.modal .center {
    background-color: var(--background-btn-color);
    padding: var(--padding-xl);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    border-radius: var(--border-radius-m);
    z-index: 10;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(107, 104, 104, 0.329);
    backdrop-filter: blur(2px);
}

.modal .center input,
.modal .center textarea,
.modal .center select {
    background-color: var(--background-task-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
}
.modal .center button{
    background-color: var(--background-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    padding: var(--padding-m) var(--padding-l);
    width: fit-content;
    align-self: center;
}
